# Binding for tf2-qa1 box (b2b setup)
ates: {
  id: "ate"
  name: "dummy-replace-with-keng-controller-hostname"
  ports: {
    id: "rustic3-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;3+obox0.lbj.is.keysight.com:31634"
  }
  ports: {
    id: "rustic4-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;4+obox0.lbj.is.keysight.com:30153"
  }
  ports: {
    id: "rustic15-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;15+obox0.lbj.is.keysight.com:31042"
  }
  ports: {
    id: "rustic12-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;12+obox0.lbj.is.keysight.com:30319"
  }
  ports: {
    id: "rustic13-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;13+obox0.lbj.is.keysight.com:32691"
  }
  ports: {
    id: "rustic11-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;11+obox0.lbj.is.keysight.com:30795"
  }
  ports: {
    id: "rustic2-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;2+obox0.lbj.is.keysight.com:31624"
  }
  ports: {
    id: "rustic5-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;5+obox0.lbj.is.keysight.com:31861"
  }
  ports: {
    id: "rustic6-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;6+obox0.lbj.is.keysight.com:30355"
  }
  ports: {
    id: "rustic9-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;9+obox0.lbj.is.keysight.com:32166"
  }
  ports: {
    id: "rustic14-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;14+obox0.lbj.is.keysight.com:31062"
  }
  ports: {
    id: "rustic16-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;16+obox0.lbj.is.keysight.com:30043"
  }
  ports: {
    id: "rustic1-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;1+obox0.lbj.is.keysight.com:31419"
  }
  ports: {
    id: "rustic7-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;7+obox0.lbj.is.keysight.com:31329"
  }
  ports: {
    id: "rustic8-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;8+obox0.lbj.is.keysight.com:31023"
  }
  ports: {
    id: "rustic10-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;10+obox0.lbj.is.keysight.com:30230"
  }
  otg: {
    target: "dummy-replace-with-keng-controller-host:port"
    insecure: true
  }
}
options: {
  username: "username"
  password: "password"
}

# Binding for tf2-qa3 box (dut setup)
duts: {
  id: "dut"
  name: "ceos1-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:32762"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:30048"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:30279"
  }
}
duts: {
  id: "dut"
  name: "ceos3-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:30809"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:32364"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:32078"
  }
}
duts: {
  id: "dut"
  name: "ceos5-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:31260"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:31606"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:32556"
  }
}
duts: {
  id: "dut"
  name: "ceos7-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:32184"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:31333"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:30283"
  }
}
duts: {
  id: "dut"
  name: "ceos9-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:31711"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:30676"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:32012"
  }
}
duts: {
  id: "dut"
  name: "ceos11-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:30363"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:30967"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:32311"
  }
}
duts: {
  id: "dut"
  name: "ceos13-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:31541"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:32146"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:30123"
  }
}
duts: {
  id: "dut"
  name: "ceos15-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:32119"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:30253"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:32369"
  }
}
ates: {
  id: "ate"
  name: "dummy-replace-with-keng-controller-hostname"
  ports: {
    id: "rustic2-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;2+obox0.lbj.is.keysight.com:32456"
  }
  ports: {
    id: "rustic8-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;8+obox0.lbj.is.keysight.com:32353"
  }
  ports: {
    id: "rustic14-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;14+obox0.lbj.is.keysight.com:31627"
  }
  ports: {
    id: "rustic16-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;16+obox0.lbj.is.keysight.com:30940"
  }
  ports: {
    id: "rustic3-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;3+obox0.lbj.is.keysight.com:32221"
  }
  ports: {
    id: "rustic9-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;9+obox0.lbj.is.keysight.com:31129"
  }
  ports: {
    id: "rustic10-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;10+obox0.lbj.is.keysight.com:30237"
  }
  ports: {
    id: "rustic15-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;15+obox0.lbj.is.keysight.com:31424"
  }
  ports: {
    id: "rustic1-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;1+obox0.lbj.is.keysight.com:32550"
  }
  ports: {
    id: "rustic5-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;5+obox0.lbj.is.keysight.com:31986"
  }
  ports: {
    id: "rustic11-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;11+obox0.lbj.is.keysight.com:30076"
  }
  ports: {
    id: "rustic4-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;4+obox0.lbj.is.keysight.com:30257"
  }
  ports: {
    id: "rustic6-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;6+obox0.lbj.is.keysight.com:30838"
  }
  ports: {
    id: "rustic7-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;7+obox0.lbj.is.keysight.com:31527"
  }
  ports: {
    id: "rustic12-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;12+obox0.lbj.is.keysight.com:30242"
  }
  ports: {
    id: "rustic13-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;13+obox0.lbj.is.keysight.com:30387"
  }
  otg: {
    target: "dummy-replace-with-keng-controller-host:port"
    insecure: true
  }
}
options: {
  username: "username"
  password: "password"
}

