# Binding for tf2-qa1 box (b2b setup)
ates: {
  id: "ate"
  name: "dummy-replace-with-keng-controller-hostname"
  ports: {
    id: "rustic4-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;4+obox0.lbj.is.keysight.com:30919"
  }
  ports: {
    id: "rustic6-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;6+obox0.lbj.is.keysight.com:30806"
  }
  ports: {
    id: "rustic13-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;13+obox0.lbj.is.keysight.com:31549"
  }
  ports: {
    id: "rustic15-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;15+obox0.lbj.is.keysight.com:30299"
  }
  ports: {
    id: "rustic2-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;2+obox0.lbj.is.keysight.com:30190"
  }
  ports: {
    id: "rustic7-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;7+obox0.lbj.is.keysight.com:31739"
  }
  ports: {
    id: "rustic12-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;12+obox0.lbj.is.keysight.com:31758"
  }
  ports: {
    id: "rustic16-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;16+obox0.lbj.is.keysight.com:30456"
  }
  ports: {
    id: "rustic5-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;5+obox0.lbj.is.keysight.com:32409"
  }
  ports: {
    id: "rustic11-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;11+obox0.lbj.is.keysight.com:31830"
  }
  ports: {
    id: "rustic1-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;1+obox0.lbj.is.keysight.com:32004"
  }
  ports: {
    id: "rustic8-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;8+obox0.lbj.is.keysight.com:32287"
  }
  ports: {
    id: "rustic9-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;9+obox0.lbj.is.keysight.com:31307"
  }
  ports: {
    id: "rustic10-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;10+obox0.lbj.is.keysight.com:31498"
  }
  ports: {
    id: "rustic14-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;14+obox0.lbj.is.keysight.com:30721"
  }
  ports: {
    id: "rustic3-tf2-qa1"
    name: "uhd://tf2-qa1.lbj.is.keysight.com:7531;3+obox0.lbj.is.keysight.com:31217"
  }
  otg: {
    target: "dummy-replace-with-keng-controller-host:port"
    insecure: true
  }
}
options: {
  username: "username"
  password: "password"
}

# Binding for tf2-qa3 box (dut setup)
duts: {
  id: "dut"
  name: "ceos1-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:30938"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:30073"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:31663"
  }
}
duts: {
  id: "dut"
  name: "ceos3-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:30744"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:31447"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:31260"
  }
}
duts: {
  id: "dut"
  name: "ceos5-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:31637"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:31148"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:30038"
  }
}
duts: {
  id: "dut"
  name: "ceos7-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:31755"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:32053"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:32319"
  }
}
duts: {
  id: "dut"
  name: "ceos9-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:30156"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:31432"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:30071"
  }
}
duts: {
  id: "dut"
  name: "ceos11-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:30213"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:31650"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:30348"
  }
}
duts: {
  id: "dut"
  name: "ceos13-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:31700"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:30606"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:31250"
  }
}
duts: {
  id: "dut"
  name: "ceos15-tf2-qa3"
  options: {
    insecure: true
  }
  ports: {
    id: "port1"
    name: "Ethernet1"
  }
  ports: {
    id: "port2"
    name: "Ethernet2"
  }
  ssh: {
    target: "obox0.lbj.is.keysight.com:30671"
  }
  gnmi: {
    target: "obox0.lbj.is.keysight.com:30815"
  }
  gribi: {
    target: "obox0.lbj.is.keysight.com:30994"
  }
}
ates: {
  id: "ate"
  name: "dummy-replace-with-keng-controller-hostname"
  ports: {
    id: "rustic16-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;16+obox0.lbj.is.keysight.com:30566"
  }
  ports: {
    id: "rustic2-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;2+obox0.lbj.is.keysight.com:32234"
  }
  ports: {
    id: "rustic3-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;3+obox0.lbj.is.keysight.com:30816"
  }
  ports: {
    id: "rustic4-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;4+obox0.lbj.is.keysight.com:30436"
  }
  ports: {
    id: "rustic6-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;6+obox0.lbj.is.keysight.com:30629"
  }
  ports: {
    id: "rustic10-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;10+obox0.lbj.is.keysight.com:32686"
  }
  ports: {
    id: "rustic11-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;11+obox0.lbj.is.keysight.com:32428"
  }
  ports: {
    id: "rustic15-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;15+obox0.lbj.is.keysight.com:31422"
  }
  ports: {
    id: "rustic5-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;5+obox0.lbj.is.keysight.com:32485"
  }
  ports: {
    id: "rustic7-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;7+obox0.lbj.is.keysight.com:31586"
  }
  ports: {
    id: "rustic8-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;8+obox0.lbj.is.keysight.com:31190"
  }
  ports: {
    id: "rustic12-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;12+obox0.lbj.is.keysight.com:30821"
  }
  ports: {
    id: "rustic14-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;14+obox0.lbj.is.keysight.com:31675"
  }
  ports: {
    id: "rustic1-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;1+obox0.lbj.is.keysight.com:30015"
  }
  ports: {
    id: "rustic9-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;9+obox0.lbj.is.keysight.com:31802"
  }
  ports: {
    id: "rustic13-tf2-qa3"
    name: "uhd://tf2-qa3.lbj.is.keysight.com:7531;13+obox0.lbj.is.keysight.com:30088"
  }
  otg: {
    target: "dummy-replace-with-keng-controller-host:port"
    insecure: true
  }
}
options: {
  username: "username"
  password: "password"
}

